.header {
    background: $blue;
    border-bottom: 1px solid $cam-blue
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header__title {
    color: $white;
    text-decoration: none;
    h1 {
        margin: 0; 
    }
}

.header-menu {
    display: flex;
    align-items: right;
}

.header-icon {
    width: 18px;
    height: 18px;
    color: $white;
    margin-left: 15px;
}

