.header {
    background: $blue;
    border-bottom: 1px solid $cam-blue
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header-title {
    color: $white;
    font-family: 'Proza Libre', sans-serif;
    text-decoration: none;
    h1 {
        margin: 0; 
    }
}

.header-logo {
    width: 150px;
    height: auto;
}

.header-menu {
    display: flex;
    align-items: right;
}

.header-icon {
    width: 18px;
    height: 18px;
    color: $dark-grey;
    margin-left: 15px;
}

