.list-container {
    display: block;

    @media(min-width: $desktop-breakpoint) {
        display: flex; 
        flex-wrap: wrap;
        justify-content: left;
        justify-content: space-between;
    }
}

 .list-item {
    border-radius: 3px;
    background: $light-blue;
    margin-bottom: 10px;
    @media (min-width: $desktop-breakpoint) {
        width: 39rem;
    }

    img {
        width: 100%;
        @media (min-width: $desktop-breakpoint) {
            width: 39rem;
        }
    }
}