.page-header {
    background: #e7e7e7;
    margin-bottom: $m-size;
    padding: $l-size 0;
}

.page-header__action {
    margin-top: $m-size
}
.page-header__title {
    margin: 0;
    font-weight: 300;
    span {
        font-weight: bold
    }
}
