// Colors
$dark-grey: #333333;
$blue: #00B1C1;
$light-blue: #A1D2CE;
$cam-blue: #9FB8AD;
$dark-green: #1D2220;
$white: #FCF8F6;
$light-grey: #FCF8F6;

$cover-blue: rgba(54, 140, 199, 0.7);
$cover-yellow: rgba(243, 183, 54, 0.7);
$cover-red: rgba(190, 33, 58, 0.7);
$cover-green: rgba(92, 135, 66, 0.7);

$colors-list: $cover-blue, $cover-yellow, $cover-red, $cover-green;

// Font Size
$font-size-large: 1.8rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$content-container: 80rem;
